<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog" lang="en">

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/WebPage">
    {% if page.image %}
      <meta itemprop="primaryImageOfPage" content="{{ site.url }}/img/320/{{ page.image.filename }}.jpg">
    {% endif %}
    {% if page.keywords %}
      <meta itemprop="specialty" content="{{ page.keywords }}">
    {% endif %}

    {% include header.html %}

    {{ content | smartify }}

    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
