---
layout: default
---
<section id="mainContentOfPage" itemprop="mainContentOfPage">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <img itemprop="image" url="{{ site.url }}/img/320/{{ page.image.filename }}.jpg">

    {% assign post = page %}
    {% include post-hero.html post=post %}

    <div class="container">
      <div class="content" itemprop="articleBody">
        <div class="addthis_sharing_toolbox"></div>

        {{ content }}

        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
          <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="{{ site.url }}/img/logo.jpg">
            <meta itemprop="width" content="600">
            <meta itemprop="height" content="200">
          </div>
          <meta itemprop="name" content="{{ site.title }}">
        </div>

        <div class="navigator">
          <hr />
          {% if page.previous %}
            <span class="previous-page">
              <a href="{{page.previous.url}}" title="Previous post">&laquo; {{page.previous.title | titlecase}}</a>
            </span>
          {% endif %}
          {% if page.next %}
            <span class="next-page">
              <a href="{{page.next.url}}" title="Next post">{{page.next.title | titlecase}} &raquo;</a>
            </span>
          {% endif %}
        </div>
      </div>
      <div id="disqus_thread"></div>
    </div>
    <meta itemprop="dateModified" content="{{ page.date }}">
    <meta itemprop="wordCount" content="{{ content | strip_html | split: ' ' | size }}">
    <meta itemprop="inLanguage" content="en-US">
    <meta itemprop="isFamilyFriendly" content="true">
    <meta itemprop="version" content="1.0">
  </article>
</section>

{% include post-heros.html post=post %}
<script>
  var disqus_config = function () {
    this.page.url = '{{ post.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}';
    this.page.identifier = '{{ identifier }}';
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//corporateprogrammer.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//corporateprogrammer.disqus.com/count.js" async></script>
