---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  {% assign post = page %}
  <div class="hero">
    <div class="heading">
      <h1 itemprop="name headline">{{ post.title }}</h1>
      <br/>
      <p class="meta">
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}
        <span class="est-read-time">{% include estimated-reading-time.html %}</span>
      </p>
    </div>
    <span id="image" role="img" aria-label="{{ post.image.alt }}">
      <span class="inner">
      </span>
    </span>
    <p class="photo-contribution">
      Photo
      {% if post.image.website %}
        courtesy of <a href="{{ post.image.url }}">{{ post.image.website }}</a>
      {% endif %}
      {% if post.photographer %}
        taken by <a href="{{ post.photographer.url }}">{{ post.photographer.name }}</a>
      {% endif %}
    </p>
  </div>

  <div class="container">
    <header class="show-on-smaller">
      <h1 itemprop="name headline">{{ post.title }}</h1>
      <p class="meta">
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %} •
        <span class="est-read-time">{% include estimated-reading-time.html %}</span>
      </p>
    </header>
    <div class="content" itemprop="articleBody">
      {{ content }}
    </div>
    <div id="disqus_thread"></div>
  </div>
</article>

<style type="text/css">
  .hero #image .inner {
    padding-top: {{ site.data.images.aspectRatio }}%;
  }

  {% assign width = 0 %}
  {% assign image = post.image.filename %}
  {% for resolution in site.data.images.resolutions %}

    {% if forloop.last != true %}

      @media only screen and (min-width: {{ width }}px) and (max-width: {{ resolution.width }}px) {
        .hero #image { background-image: url("/img/{{ resolution.width }}/{{ image }}.jpg"); }
      }

      {% if resolution.2dppx %}
        @media only screen and (min-resolution: 2dppx) and (min-width: {{ width }}px) and (max-width: {{ resolution.width }}px) {
          .hero #image { background-image: url("/img/{{ resolution.width | times: 2 }}/{{ image }}.jpg"); }
        }
      {% endif %}

      {% if resolution.3dppx %}
        @media only screen and (min-resolution: 3dppx) and (min-width: {{ width }}px) and (max-width: {{ resolution.width }}px) {
          .hero #image { background-image: url("/img/{{ resolution.width | times: 3 }}/{{ image }}.jpg"); }
        }
      {% endif %}

      {% if resolution.4dppx %}
        @media only screen and (min-resolution: 4dppx) and (min-width: {{ width }}px) and (max-width: {{ resolution.width }}px) {
          .hero #image { background-image: url("/img/{{ resolution.width | times: 4 }}/{{ image }}.jpg"); }
        }
      {% endif %}

      {% assign width = resolution.width + 1 %}

    {% else %}

      @media only screen and (min-width: {{ width }}px) {
        .hero #image { background-image: url("/img/{{ resolution.width }}/{{ image }}.jpg"); }
      }

    {% endif %}

  {% endfor %}
</style>

<script>
  var disqus_config = function () {
    this.page.url = '{{ post.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}';
    this.page.identifier = '{{ identifier }}';
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//corporateprogrammer.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//corporateprogrammer.disqus.com/count.js" async></script>
