---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  {% assign post = page %}
  {% include post-hero.html %}

  <div class="container">
    <header class="show-on-smaller">
      <h1 itemprop="name headline">{{ post.title | titlecase }}</h1>
      {% include post-metadata.html %}
    </header>
    <div class="content" itemprop="articleBody">
      {{ content }}

      <div class="navigator">
        <hr />
        {% if page.previous %}
          <span class="previous-page">
            <a href="{{page.previous.url}}" title="Previous post">&laquo; {{page.previous.title | titlecase}}</a>
          </span>
        {% endif %}
        {% if page.next %}
          <span class="next-page">
            <a href="{{page.next.url}}" title="Next post">{{page.next.title | titlecase}} &raquo;</a>
          </span>
        {% endif %}
      </div>
    </div>
    <div id="disqus_thread"></div>
  </div>
</article>

<style type="text/css">
  .hero #image .inner {
    padding-top: {{ site.data.images.aspectRatio }}%;
  }

  {% assign width = 0 %}
  {% assign image = post.image.filename %}
  {% for resolution in site.data.images.resolutions %}

    {% if forloop.last != true %}

      @media only screen and (min-width: {{ width }}px) and (max-width: {{ resolution.width }}px) {
        .hero #image { background-image: url("/img/{{ resolution.width }}/{{ image }}.jpg"); }
      }

      {% if resolution.2dppx %}
        @media only screen and (min-resolution: 2dppx) and (min-width: {{ width }}px) and (max-width: {{ resolution.width }}px) {
          .hero #image { background-image: url("/img/{{ resolution.width | times: 2 }}/{{ image }}.jpg"); }
        }
      {% endif %}

      {% if resolution.3dppx %}
        @media only screen and (min-resolution: 3dppx) and (min-width: {{ width }}px) and (max-width: {{ resolution.width }}px) {
          .hero #image { background-image: url("/img/{{ resolution.width | times: 3 }}/{{ image }}.jpg"); }
        }
      {% endif %}

      {% if resolution.4dppx %}
        @media only screen and (min-resolution: 4dppx) and (min-width: {{ width }}px) and (max-width: {{ resolution.width }}px) {
          .hero #image { background-image: url("/img/{{ resolution.width | times: 4 }}/{{ image }}.jpg"); }
        }
      {% endif %}

      {% assign width = resolution.width + 1 %}

    {% else %}

      @media only screen and (min-width: {{ width }}px) {
        .hero #image { background-image: url("/img/{{ resolution.width }}/{{ image }}.jpg"); }
      }

    {% endif %}

  {% endfor %}
</style>

<script>
  var disqus_config = function () {
    this.page.url = '{{ post.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}';
    this.page.identifier = '{{ identifier }}';
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//corporateprogrammer.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//corporateprogrammer.disqus.com/count.js" async></script>
