---
layout: page
blurb: Discover content based on available tags.
---

<p>You can discover content with the following tags.
  <span class="tag-toggler-show">
    <b>Tip:</b> You can <a href="javascript:void(0);">show</a> tags and descriptions
    if you want more information.
  </span>
  <span class="tag-toggler-hide hidden">
    <b>Tip:</b> You can <a href="javascript:void(0);">hide</a> tags and descriptions if you
    are tired of seeing all this information.
  </span>
</p>
<div>
  {% assign all_url = "/blog/tags/" %}
  {% assign all_class = "label-primary" %}
  {% if page.tag == "all" %}
    {% assign all_url = "javascript:void(0);" %}
    {% assign all_class = "label-danger" %}
  {% endif %}
  <span id="tag-all" class="label {{ all_class }}"><a href="/blog/tag/">All</a></span>
  {% for tag in page.tags %}
    {% assign highlight = false %}
    {% if page.tag == tag %}
      {% assign highlight = true %}
    {% endif %}
    {% include posts/tag.html highlight=highlight %}
  {% endfor %}
</div>

{% assign tags = "" | split: "|" %}
{% for post in site.posts %}
 {% for tag in post.tags %}
   {% if tags contains tag %}
   {% else %}
     {% assign tags = tags | push: tag %}
   {% endif %}
 {% endfor %}
{% endfor %}

<p>There are <span id="post-count">...</span> available.</p>
<div class="tagged-posts">
  {% if page.tag == "all" %}
    {% for post in site.posts %}
      {% include posts/tagged-post.html %}
    {% endfor %}
  {% else %}
    {% for post in site.posts %}
      {% for tag in post.tags %}
        {% if tag == page.tag %}
          {% include posts/tagged-post.html %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>
