RewriteEngine on
RewriteCond %{HTTP_HOST} ^corporateprogrammer.com$
RewriteRule ^/?$ "http\:\/\/www\.corporateprogrammer\.com\/" [R=301,L]

RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} (^libwww-perl) [nc]
RewriteRule !^403.shtml$ - [f,l]

ServerSignature Off

Header unset ETag
FileETag None

ExpiresActive On
ExpiresDefault "now plus 7 days"
ExpiresByType text/html "now plus 1 day"
Header set Cache-Control "must-revalidate, proxy-revalidate"

<FilesMatch ".(js|css|html|htm|php|xml)$">
SetOutputFilter DEFLATE
</FilesMatch>

# Use PHP5.6 as default
AddHandler application/x-httpd-php56 .php
