$line-color: darken($body-bg-compliment, 2%);
$bg-color: $body-bg-compliment;
$border-radius: 10px;
$timeline-position: 40%;

@font-face {
  font-family: 'timeline';
  src:url('../fonts/timeline.eot');
  src:url('../font/timeline.eot?#iefix') format('embedded-opentype'),
  url('../fonts/timeline.woff') format('woff'),
  url('../fonts/timeline.ttf') format('truetype'),
  url('../fonts/timeline.svg#timeline') format('svg');
  font-weight: normal;
  font-style: normal;
} /* Made with http://icomoon.io/ */

header {
  h1, h2 {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.2em;
    margin: 0;
  }

  p {
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}

.loading {
  display: none;
}

footer.site {
  position: relative !important;
}

.timeline {
  display: block !important;
  margin: 50px 0;
  padding: 0;
  list-style: none;
  position: relative;

  /* The line */
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: $line-color;
    border-radius: 3px;
    left: $timeline-position;
    margin-left: -10px;
  }

  & > li {
    position: relative;

    /* Left content */
    .meta {
      display: block;
      width: $timeline-position + 5;
      padding-right: 165px;
      text-align: right;
      position: absolute;

      h2 {
        font-size: 1.2em;
        line-height: 2em;
        margin-top: 0em;
      }

      span {
        display: block;
      }

      span:first-child {
        padding-top: 0.5em;
      }

    }

    /* Right content */
    .description {
      margin: $spacer 20% $spacer $timeline-position + 3;
      padding: 1.5em 2em;
      font-size: 1em;
      font-weight: 300;
      line-height: 1.4;
      position: relative;
      border-radius: $border-radius;
      background-color: $bg-color;

      ul {
        margin: $spacer / 2 0 $spacer 0;
      }

      .label {
        display: inline-block;
        margin: 0 1% 1% 0;
        padding: 6px 10px;
      }

      h3 {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        line-height: 1.2em;
      }

      p {
        margin: 10px 0 10px 0;
      }

      /* The triangle */
      &:after {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 15px;
        top: 10px;
        border-right-color: $bg-color;
      }

    }

    .icon {
      width: 60px;
      height: 60px;
      padding: 10px;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      font-size: 1.4em;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      border-radius: 50%;
      text-align: center;
      left: $timeline-position;
      top: 0;
      margin: 0 10px 0 -35px;
      box-shadow: 0 0 0 8px $line-color;
      background-color: $line-color;

      span:before {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'timeline' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

    }

    &.work {
      @include timeline-type($body-bg-compliment, "\e903");
    }

    &.blog {
      @include timeline-type(#FFBE37, "\e908");
    }

    &.certificate {
      @include timeline-type(#46E863, "\e900");
    }

    &.podcast {
      @include timeline-type(#CF8EDB, "\e91c");
    }

    &.talk {
      @include timeline-type(#1F9ACC, "\e91e");
    }

    &.book {
      @include timeline-type(#CC481F, "\e91f");
    }

    &.project {
      @include timeline-type(#AEFF4F, "\e925");
    }

    &.award {
      @include timeline-type(#B2241F, "\e99e");
    }

    &.community {
      @include timeline-type(#CC4D2B, "\e972");
    }

  }

}
@media screen and (max-width: 480px) {

  header {
    h2 {
      font-size: 1em !important;
    }

    p {
      padding: 0px;
    }
  }

  .timeline > li {
    .meta {
      margin-top: 60px !important;

      h2 {
        font-size: 1em !important;
      }
    }
  }

  .timeline > li:first-child .meta {
    margin-top: 0px !important;
  }

}

@media screen and (max-width: 640px) {

  .timeline:before {
    display: none;
  }

  .timeline > li {
    .meta {
      width: 100%;
      position: relative;
      padding: 0 0 20px 0;
      text-align: left;
    }

    .description {
      margin-left: 0px !important;
      margin-right: 25px !important;
      margin-top: 5px;
      border-left: none !important;

      &:after {
        right: auto;
        left: 20px;
        border-right-color: transparent !important;
        top: -35px;
      }
    }

    .icon {
      position: relative;
      float: right;
      left: auto;
      margin: -75px 25px 0 0;
    }

  }

}

@media screen and (max-width: 641px) and (max-width: 1280px) {

  .timeline > li {
    .meta {
      width: 49%;
    }

    .description {
      margin-left: 45%;
      margin-right: 5%;
    }
  }

}

@media screen and (min-width: 1281px) and (max-width: 1440px) {

  .timeline > li {
    .meta {
      width: 46%;
    }

    .description {
      margin-left: 44%;
    }
  }

}
