body {
  border-top: solid 5px $accent;
  background-color: $dark;
  text-color: $accent;
}

header {
  &.top {
    background-color: $darkest;
    padding: $spacer 0;
    margin-bottom: $spacer;
  }
}
