$dark:                    #1E2832;
$darkest:                 darken($dark, 2%);
$light:                   lighten($dark, 60%);
$accent:                  #3E8FB0;
$accent-compliment:       #CC334F;
$spacer:                  25px;
$border-width:            5px;

$font-size-base:          20px;
$font-size-largest:       ceil(($font-size-base * 2.5));
$font-size-large:         ceil(($font-size-base * 1.25));
$font-size-small:         ceil(($font-size-base * 0.85));
$font-size-smallest:      ceil(($font-size-base * 0.7));

@import url(https://fonts.googleapis.com/css?family=Roboto:300,700);
$font-family-sans-serif:  "Roboto", Helvetica, Arial, sans-serif;

@import url(https://fonts.googleapis.com/css?family=Arvo:700);
$font-family-serif:       "Arvo", Helvetica, Arial, sans-serif;
