footer {

  &.site {
    border-bottom: solid $border-width $accent-color;
    background-color: $body-bg-compliment;
    font-size: $font-size-small;
    line-height: $font-size-small;
  }

  .footnote {
    text-align: center;
  }

}
