.fixed-for-scroll {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  border-bottom: solid $border-width $accent-color;

  &.top {
    padding: 0px;
  }
}

.navbar-nav, .navbar-default {
  margin-right: 0px !important;

  .container-fluid,
  .navbar-collapse {
    padding-right: 0px;
  }

  .navbar-brand {
    padding-left: 0px;
    font-size: $font-size-base;

    &:hover,
    &:focus {
      color: $accent-color-compliment !important;
    }

  }

  > .active > a {
    font-weight: bold;

    &:hover {
      color: $accent-color;
      background-color: $body-bg !important;
    }

  }

}

#navbar-post {
  z-index: 1;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  background-color: $body-bg-compliment;
  text-align: center;

  ul.nav {
    display: inline;

    li {
      display: inline-block;
      font-size: $font-size-small;

      a {
        padding: 10px;
        display: inline-block;
        line-height: $font-size-small;

        &:active,
        &:hover,
        &:focus{
          background-color: lighten($body-bg-compliment, 5px);
          border-radius: 5px;
          color: $text-color;
        }

      }

      &.active {
        a {
          background-color: $accent-color-compliment;
          border-radius: 5px;
          color: #fff;
        }
      }

    }
  }
}
