.navbar-nav, .navbar-default {

  .container-fluid,
  .navbar-collapse {
    padding-right: 0px;
  }

  .navbar-brand {
    padding-left: 0px;
    font-size: $font-size-base;

    &:hover,
    &:focus {
      color: $accent-color-compliment !important;
    }

  }

  > .active > a {
    font-weight: bold;

    &:hover {
      color: $accent-color;
      background-color: $body-bg !important;
    }

  }

}
