.fixed-for-scroll {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  border-bottom: solid $border-width $accent-color;

  &.top {
    padding: 0px;
  }
}

.navbar-nav, .navbar-default {
  margin-right: 0px !important;

  .container-fluid,
  .navbar-collapse {
    padding-right: 0px;
  }

  .navbar-brand {
    padding-left: 0px;
    font-size: $font-size-base;

    &:hover,
    &:focus {
      color: $accent-color-compliment !important;
    }

  }

  > .active > a {
    font-weight: bold;

    &:hover {
      color: $accent-color;
      background-color: $body-bg !important;
    }

  }

}

$navbar-close-width: 18px;
$navbar-padding-left: $navbar-close-width + 10;
$navbar-padding: 10px;

#navbar-post {
  z-index: 1;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: $navbar-padding;
  padding-left: $navbar-padding-left;
  background-color: $body-bg-compliment;
  text-align: center;
  height: auto;
  border-bottom: solid 1px $body-bg-compliment;
  border-radius: 0px;
  margin-left: 0px;

  .toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0;
    height: 0;
    cursor: pointer;
    border-left: $navbar-close-width solid transparent;
    border-right: $navbar-close-width solid transparent;
    border-bottom: $navbar-close-width solid transparent;
    border-top: $navbar-close-width solid $accent-color-compliment;

    &:before {
      content: "";
      border-left: $navbar-close-width solid transparent;
      border-right: $navbar-close-width solid transparent;
      border-bottom: $navbar-close-width solid transparent;
      border-left: $navbar-close-width solid darken($accent-color-compliment, 10%);
      position: absolute;
      top: -$navbar-close-width;
      left: 0px;
    }
  }

  &.closed {
    & {
      height: $navbar-close-width * 2;
      padding: 0px;
      width: $navbar-padding + $navbar-padding-left + $navbar-close-width;
      border-radius: 10px 10px 0px 0px;
      margin-left: 10px;
    }

    .toggle {
      top: -10px;
      border-top: $navbar-close-width solid transparent;
      border-bottom: $navbar-close-width solid $accent-color-compliment;

      &:before {
        top: -$navbar-padding + 1;
        left: -$navbar-padding + 1;
        transform: rotate(-90deg);
      }

    }

    .nav {
      visibility: collapse;
    }
  }

  ul.nav {
    display: inline;

    li {
      display: inline-block;
      font-size: $font-size-small;

      a {
        padding: 10px;
        display: inline-block;
        line-height: $font-size-small;

        &:active,
        &:hover,
        &:focus{
          background-color: lighten($body-bg-compliment, 5px);
          border-radius: 5px;
          color: $text-color;
        }

      }

      &.active {
        a {
          background-color: $accent-color-compliment;
          border-radius: 5px;
          color: #fff;
        }
      }

    }
  }
}
