$thumbnail-width:       100%;
$thumbnail-height:      180px;
$border-radius-left:    50%;
$border-radius-right:   50%;
$border-color:          darken($accent-color, 20%);
$double-spacer:         $spacer * 2;
$heading-bg-color:      rgba($body-bg-compliment, 0.7);

.post-preview {
  margin-top: $spacer;

  .thumbnail {
    max-width: 700px;
    width: $thumbnail-width;
    height: $thumbnail-height;
    overflow: hidden;
    margin-bottom: $spacer;
    border: dashed 1px darken($text-color, 30%);

    @media only screen and (max-width:480px) {
      img {
        margin-left: -50%;
        margin-left: -55%;
      }
    }

  }

  h1 {
    margin: 0px;

    @media only screen and (max-width:480px) {
      & {
        margin-top: $spacer !important;
      }
    }

  }

  .meta {
    font-size: $font-size-small;
    margin-top: 0px;
  }

}

.post {
  margin-bottom: $spacer;

  .hero {
    position: relative;
    border-bottom: solid $border-width $body-bg-compliment;
    background-color: $accent-color;
    overflow: hidden;

    .teaser {
      display: none;
      position: absolute;
      background-color: $accent-color-compliment;
      border: dashed lighten($accent-color-compliment, 15%) 2px;
      color: lighten($accent-color-compliment, 40%);
      text-align: center;
      transform: rotate(-45deg);
      left: -120px;
      top: 40px;
      padding: 5px 150px;
      text-shadow: $body-bg-compliment 1px 1px 1px;
      letter-spacing: 1px;
      font-size: $font-size-small;
      font-weight: bold;
    }

    .heading {
      position: absolute;
      bottom: 5%;
      width: 100%;
      text-align: center;

      h1 {
        font-size: $font-size-h1 + 20 !important;
        text-shadow: 2px 2px 5px $body-bg;
        background-color: $heading-bg-color;
        padding: 10px 25px;
        display: inline-block;

        a {
          color: $text-color;
        }

      }

      .meta {
        text-shadow: 2px 2px 5px $body-bg;
        background-color: $heading-bg-color;
        padding: 10px 25px;
        display: inline-block;
        margin-top: 10px;
        font-size: $font-size-base;
      }

    }

    #image {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      font: 0/0 serif;
      text-shadow: none;
      color: transparent;
      background-size: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;

      .inner {
        display: block;
        height: 0;
      }

    }

  }

  .photo-attribution {
    font-size: $font-size-small;
    line-height: $line-height-small;
    font-style: italic;
    margin-bottom: $spacer;
    text-align: right;
    padding-right: $spacer;
  }

  h1 {
    margin: 0px;

    @media only screen and (max-width:480px) {
      & {
        margin-top: $spacer !important;
      }
    }

  }

  p img {
    @media only screen and (max-width:480px) {
      & {
        width: 100%;
      }
    }

    @media only screen and (min-width:481px) {
      & {
        width: 80%;
        margin: 0 10%;
      }
    }
  }

  .meta {
    font-size: $font-size-small;
    margin-top: 0px;
  }

  .content {
    margin-bottom: $spacer * 3;

    hr {
      border-top: solid 1px lighten($body-bg-compliment, 10%);
      margin-bottom: 5px;
    }

    .navigator {

      .next-page {
        float:right;
      }

    }

  }

}

.summary {
  .hero {
    .teaser {
      display: block;
    }
  }

  h2 {
    a:hover, a:focus {
      text-decoration: none;
    }

  }
}

.tag {
  .thumbnail {
    width: 150px;
    height: 150px;
    margin-right: $spacer;
    margin-bottom: 10px;
    float: left;
    border-radius: 50%;

    img {
      width: 500px;
      height: 150px;
      margin-left: -120%;
    }
  }
}

.hang-heading .hero .heading {
  bottom: 20%;
}

@media only screen and (max-width: 960px) {
  .hero .heading {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  header.show-on-smaller {
    display: none;
  }
}
