$thumbnail-width:       100%;
$thumbnail-height:      180px;
$border-radius-left:    50%;
$border-radius-right:   50%;
$border-color:          darken($accent-color, 20%);
$double-spacer:         $spacer * 2;
$heading-bg-color:      rgba($body-bg-compliment, 0.7);

.post-preview {
  margin-top: $spacer;

  .thumbnail {
    max-width: 700px;
    width: $thumbnail-width;
    height: $thumbnail-height;
    overflow: hidden;
    margin-bottom: $spacer;

    @media only screen and (max-width:480px) {
      img {
        margin-left: -50%;
        margin-left: -55%;
      }
    }

  }

  h1 {
    margin: 0px;

    @media only screen and (max-width:480px) {
      & {
        margin-top: $spacer !important;
      }
    }

  }

  .meta {
    font-size: $font-size-small;
    margin-top: 0px;
  }

}

.post {
  margin-bottom: $spacer;

  .hero {
    position: relative;
    margin-bottom: $double-spacer;
    border-bottom: solid $border-width $body-bg-compliment;
    background-color: $accent-color;

    .heading {
      position: absolute;
      bottom: 5%;
      width: 100%;
      text-align: center;

      h1 {
        font-size: $font-size-h1 + 20 !important;
        text-shadow: 2px 2px 5px $body-bg;
        background-color: $heading-bg-color;
        padding: 10px 25px;
        display: inline-block;

        a {
          color: $text-color;
        }

      }

      .meta {
        text-shadow: 2px 2px 5px $body-bg;
        background-color: $heading-bg-color;
        padding: 10px 25px;
        display: inline-block;
        margin-top: 10px;
        font-size: $font-size-base;
      }

    }

    #image {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      font: 0/0 serif;
      text-shadow: none;
      color: transparent;
      background-size: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;

      .inner {
        display: block;
        height: 0;
      }

    }

    .photo-contribution {
      font-size: $font-size-small;
      line-height: $line-height-small;
      font-style: italic;
      position: absolute;
      right: 0px;
      padding: 0 15px;
    }

  }

  h1 {
    margin: 0px;

    @media only screen and (max-width:480px) {
      & {
        margin-top: $spacer !important;
      }
    }

  }

  p img {
    @media only screen and (max-width:480px) {
      & {
        width: 100%;
      }
    }

    @media only screen and (min-width:481px) {
      & {
        width: 80%;
        margin: 0 10%;
      }
    }
  }

  .meta {
    font-size: $font-size-small;
    margin-top: 0px;
  }

  .content {
    margin-bottom: $spacer * 3;

    hr {
      border-top: solid 1px lighten($body-bg-compliment, 10%);
      margin-bottom: 5px;
    }

    .navigator {

      .next-page {
        float:right;
      }

    }

  }

}

.hang-heading .hero .heading {
  bottom: 20%;
}

@media only screen and (max-width: 960px) {
  .hero .heading {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  header.show-on-smaller {
    display: none;
  }
}
