#tags {
  z-index: 3;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: darken($body-bg-compliment, 5%);
  padding: $spacer;
  text-align: center;
  position: fixed;
  border-top: solid $border-width $accent-color;

  $close-bg-color: $accent-color-compliment;
  $close-bg-color-hover: $accent-color;

  .wrapper {
    position: relative;

    .close {
      position: absolute;
      top: -50px;
      right: $spacer - 10;
      padding-top: 6px;
      width: $spacer * 2;
      height: $spacer * 2;
      background-color: $close-bg-color;
      border-radius: 50%;
      cursor: pointer;

      &:before {
        top: 0px;
        right: 0px;
        content: "";
        border-bottom: solid $spacer transparent;
        border-top: solid $spacer transparent;
        border-left: solid $spacer darken($close-bg-color, 25%);
        border-right: solid $spacer transparent;
        position: absolute;
        border-radius: 50%;
      }

      &:after {
        top: 0px;
        right: 0px;
        content: "";
        border-bottom: solid $spacer darken($close-bg-color, 10%);
        border-top: solid $spacer transparent;
        border-left: solid $spacer darken($close-bg-color, 20%);
        border-right: solid $spacer transparent;
        position: absolute;
        transform: rotate(270deg);
        border-radius: 50%;
      }

      &:hover {
        background-color: $close-bg-color-hover;
        &:before {
          border-left: solid $spacer darken($close-bg-color-hover, 25%);
        }
        &:after {
          border-bottom: solid $spacer darken($close-bg-color-hover, 10%);
          border-left: solid $spacer darken($close-bg-color-hover, 20%);
        }
      }

    }

  }

}

.tagged-posts {
  margin: $spacer * 2 0px;

  .post {
    border-bottom: dashed 1px darken($link-color-visited, 30%);
    padding: 5px 0px;
    margin: 0px;
  }

  .published {
    float: right;
  }

}
