#tags {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: darken($body-bg-compliment, 5%);
  padding: $spacer;
  text-align: center;
  position: fixed;
  border-top: solid $border-width $accent-color;

  .wrapper {
    position: relative;

    .close {
      position: absolute;
      top: -50px;
      right: $spacer - 10;
      padding-top: 6px;
      width: $spacer * 2;
      height: $spacer * 2;
      background-color: darken($body-bg-compliment, 10%);
      border-radius: 50%;
      cursor: pointer;
    }

  }

}

.tagged-posts {
  margin: $spacer * 2 0px;

  .post {
    border-bottom: dashed 1px darken($link-color-visited, 30%);
    padding: 5px 0px;
    margin: 0px;
  }

  .published {
    float: right;
  }

}
