body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight;
  font-size: $font-size-base;
  padding-top: 60px;
}

a:hover {
  color: $accent-color-compliment;
}

a:visited {
  color: $link-color-visited;
}

p {
  line-height: $line-height-base;
  font-weight: $font-weight;
}

blockquote {
  background-color: $body-bg-compliment;
  border-left: $border-width * 2 solid $accent-color-compliment;
  margin: 1.5em 0;
  padding: $spacer;
}

blockquote:before {
  font-family: $font-family-blockquote;
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

mark {
  background-color: #ffe400 !important;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
}

h1 {
  font-family: $font-family-serif;
  font-size: $font-size-h1 !important;
  font-weight: $headings-font-weight;
  margin: 0px;

  a,
  a:hover {
    text-decoration: none !important;
  }

}

h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  font-weight: $headings-font-weight;
  margin: $spacer 0 0 0;
}

h2 {
  font-size: $font-size-h2;
  line-height: $font-size-h2 * $headings-line-height;

  &[id]:before {
    content: "";
    display: block;
    height: 55px;
    margin: -30px 0 0;
    visibility: hidden;
  }
}

h3 {
  font-size: $font-size-h3;
  line-height: $font-size-h3 * $headings-line-height;
}

h4 {
  font-size: $font-size-h4;
  line-height: $font-size-h4 * $headings-line-height;
}

h5 {
  font-size: $font-size-h5;
  line-height: $font-size-h5 * $headings-line-height;
}

h6 {
  font-size: $font-size-h6;
  line-height: $font-size-h6 * $headings-line-height;
}

@media only screen and (max-width:480px) {
  h1 {
    font-size: $font-size-h2 - 5 !important;
    line-height: ($font-size-h2 - 10) * $headings-line-height;
  }

  h2 {
    font-size: $font-size-h2 - 5 !important;
    line-height: ($font-size-h2 - 10) * $headings-line-height;
  }

  h3 {
    font-size: $font-size-h3 - 5 !important;
    line-height: ($font-size-h3 - 5) * $headings-line-height;
  }

}

code {
  padding: 5px 10px !important;
}

.label {
  a {
    color: #ffffff;

    &:hover, &:focus {
      color: #ffffff;
    }
  }
}

//TODO: Needs to move out of _type
.error {
  text-align: center;

  img {
    width: 100%;
  }

}

ol, ul {
  li {
    padding-left: 15px;
  }
}
