$body-bg:                         #1E2832;
$body-bg-compliment:              darken($body-bg, 2%);
$text-color:                      lighten($body-bg, 60%);
$accent-color:                    #3E8FB0;
$accent-color-compliment:         #CC334F;

$container-lg:                    700px;
$container-md:                    $container-lg;

$link-color:                      $accent-color;
$link-hover-color:                $accent-color-compliment;
$link-color-visited:              #888;

$font-family-sans-serif:          "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:               "Arvo", Georgia, "Times New Roman", Times, serif;
$font-family-blockquote:          "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base:                  20px;
$font-size-large:                 ceil(($font-size-base * 1.25));
$font-size-small:                 ceil(($font-size-base * 0.8));
$font-weight:                     300;

$font-size-h1:                    ceil(($font-size-base * 2));
$font-size-h2:                    ceil(($font-size-base * 2));
$font-size-h3:                    ceil(($font-size-base * 1.5));
$font-size-h4:                    ceil(($font-size-base * 1.25));
$font-size-h5:                    ceil(($font-size-base * 1));
$font-size-h6:                    ceil(($font-size-base * 0.85));

$line-height-base:                1.75;
$line-height-small:               1.25;

$headings-font-family:            $font-family-serif;
$headings-font-weight:            700;
$headings-line-height:            1.5;

$spacer:                          25px;
$border-width:                    5px;

$navbar-margin-bottom:            0px;
$navbar-default-bg:               $body-bg-compliment;
$navbar-default-border:           $body-bg-compliment;

$navbar-default-link-color:           $text-color;
$navbar-default-link-hover-color:     $accent-color;
$navbar-default-link-active-color:    $accent-color-compliment;
$navbar-default-link-active-bg:       $body-bg-compliment;
$navbar-default-link-hover-bg:        $body-bg;
$navbar-default-toggle-border-color:  $navbar-default-link-hover-bg;
$navbar-default-toggle-hover-bg:      $navbar-default-link-hover-bg;
