body {
  border-top: solid 5px $accent;
  background-color: $dark;
  text-color: $accent;
  font-family: $font-family-sans-serif;
  font-weight: 300;
}

p {
  line-height: $font-size-base * 1.75;
}

header {
  &.top {
    background-color: $darkest;
    padding: $spacer 0;

    a:hover {
      text-decoration: none;
    }

  }
}

h1 {
  font-family: $font-family-serif;

  a:hover {
    text-decoration: none;
  }

}

h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;

}
