.post {
  margin-bottom: $spacer;

  .hero {
    position: relative;
    margin-bottom: $spacer;
    border-bottom: solid 5px $darkest;

    .heading {
      position: absolute;
      bottom: 5%;
      width: 100%;
      text-align: center;

      h1 {
        text-shadow: 2px 2px 5px $dark;
        background-color: rgba($darkest, 0.7);
        padding: 10px 25px;
        display: inline-block;
        font-size: $font-size-largest;
      }

      .meta {
        text-shadow: 2px 2px 5px $dark;
        background-color: rgba($darkest, 0.7);
        padding: 10px 25px;
        display: inline-block;
        margin-top: 10px;
        font-size: $font-size-base;
      }

    }

    #image {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      font: 0/0 serif;
      text-shadow: none;
      color: transparent;
      background-size: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;

      .inner {
        display: block;
        height: 0;
      }

    }

  }

  h1 {
    margin: 0px;
  }

  .meta {
    font-size: $font-size-small;
    margin-top: 0px;
  }

  .content {
    margin-bottom: $spacer * 3;
  }

}

@media only screen and (max-width: 960px) {
  .hero .heading {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  header.show-on-smaller {
    display: none;
  }
}
