---
layout: default
title:  Page not Found
permalink: 404.shtml
---

<div class="container">
  <h1><code>404 Page not Found</code></h1>
</div>
<div class="error">
  <img src="/svg/error.svg" />
  <small><a href="http://www.freepik.com">Designed by Freepik</a> (image modified)</small>
</div>
<div class="container">
  <p>
    Oh snap! The page you are looking for could not be found.
    Perhaps you would be interested in these posts instead?
  </p>
  <p><!--#exec cgi="/cgi-sys/fourohfour.cgi" --></p>
</div>
<div class="pager">
  <div class="container">
    {% for post in site.posts | limit: 3 %}
      {% include posts/post-preview.html %}
    {% endfor %}
  </div>
</div>
