---
layout: default
permalink: /
---

{% assign hero_post = paginator.posts | first %}
<div class="post summary">
  {% include posts/post-hero.html post=hero_post snippet=true %}
  <div class="container">
    {% include posts/tags.html %}
    <p>
      {{ post.blurb }}
    </p>
    <p>
      {{ hero_post.content | strip_figcaption | strip_html | truncatewords: 30 }}
      <a href="{{ post.url }}">read more</a>
    </p>
  </div>
</div>
<div class="pager">
  <div class="container">
    <h1 class="hidden">Other Posts</h1>
    {% for post in paginator.posts | offset: 1 | limit: paginator.per_page %}
      {% include posts/post-preview.html %}
    {% endfor %}
    {% include pagination.html %}
  </div>
</div>
{% include posts/post-heros.html post=hero_post %}
