<!-- All favicons are icons made by vaadin from www.flaticon.com -->
<!-- Standard Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<!-- Opera Speed Dial Favicon -->
<link rel="icon" type="image/png" href="/speeddial-160px.png" />
<!-- For iPhone 4 Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
<!-- For iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
<!-- For iPhone: -->
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57x57-precomposed.png">
