<header class="top">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{ corporate <strong>programmer</strong> }</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% assign active = "class='active'" %}
            {% assign current = "<span class='sr-only'>(current)</span>" %}

            {% assign sections = page.url | split: '/' %}
            {% assign url = sections[1] %}

            {% if page.permalink == "/" %}
              {% assign url = "/" %}
            {% endif %}

            <li {% if url == "/" || url == "blog" %}class="dropdown active"{% else %}class="dropdown"{% endif %}>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                Blog <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li {% if url == "/" %}{{active}}{% endif %}><a href="/">View by page{% if url == "/" %}{{current}}{% endif %}</a></li>
                <li {% if url == "blog" %}{{active}}{% endif %}><a href="/blog/">View all{% if url == "/blog/" %}{{current}}{% endif %}</a></li>
              </ul>
            </li>
            <li {% if url == "about" %}{{active}}{% endif %}><a href="/about/">About{% if url == "about" %}{{current}}{% endif %}</a></li>
            <li {% if url == "timeline" %}{{active}}{% endif %}><a href="/timeline/">Career{% if url == "timeline" %}{{current}}{% endif %}</a></li>
            <li {% if url == "credits" %}{{active}}{% endif %}><a href="/credits/">Credits{% if url == "credits" %}{{current}}{% endif %}</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</header>
