{% assign title = site.title | escape %}
{% if page.title %}
  {% assign title = page.title | titlecase | escape %}
{% endif %}

{% assign description = site.title | escape %}
{% if page.description %}
  {% assign description = page.description %}
{% elsif page.social-teaser  %}
  {% assign description = page.social-teaser %}
{% elsif page.excerpt %}
  {% assign description = {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }} %}
{% else %}
  {% assign description = page.description %}
{% endif %}

{% assign image = {{ site.url | append: '/img/logo.png' }} %}
{% if page.image.filename %}
  {% assign filename = page.image.filename | append: '.jpg' %}
  {% assign image = site.url | append: '/img/share/' | append: filename %}
  {% assign image-alt = {{ page.image.alt }} %}
{% endif %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description}}" />

  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
  {% else %}
    <meta name="keywords" content="{{ site.keywords }}" />
  {% endif %}

  <link href="{{ site.google-plus }}" rel="author" />
  {% include social-media/twitter.html title=title description=description image=image image-alt=image-alt %}
  {% include social-media/facebook.html %}
  {% include social-media/open-graph.html title=title description=description image=image %}
  {% include social-media/schema.html title=title description=description image=image %}

  {% if page.url != "/" %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/atom.xml" | prepend: site.baseurl }}">

  {% include favicons.html %}
  <link rel="stylesheet" href="{{ "/css/blog.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}" />

{% if site.build != "debug" %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77127562-1', 'auto');
    ga('send', 'pageview');

  </script>
{% endif %}
</head>

<!--
  http://www.iacquire.com/blog/18-meta-tags-every-webpage-should-have-in-2013
  http://secretsaucehq.com/mega-tags/#reference
  https://support.google.com/webmasters/answer/79812?hl=en
  https://developers.google.com/structured-data/testing-tool/
 -->
