{% assign title = site.title | escape %}
{% if page.title %}
  {% assign title = page.title | titlecase | escape %}
{% endif %}
{% if page.subtitle %}
  {% assign title = title | append: ': ' | append: page.subtitle %}
{% endif %}
{% if page.tag %}
  {% assign title = title | prepend: ': ' | prepend: page.tag | titlecase %}
{% endif %}

{% assign description = page.content | strip_html | strip_newlines_with_spaces | replace: '   ', ' ' | strip | truncate: 160 | escape %}
{% if page.url == "/" %}
  {% assign description = site.description | escape %}
{% endif %}
{% if page.excerpt %}
  {% assign description = page.excerpt | strip_html | strip_newlines_with_spaces | replace: '   ', ' ' | strip | truncate: 160 | escape %}
{% endif %}

{% assign teaser = description %}
{% if page.social-teaser %}
  {% assign teaser = page.social-teaser | strip_newlines_with_spaces | replace: '   ', ' ' | strip | escape %}
{% endif %}

{% assign image_alt = page.image.alt %}
{% assign image = site.url | append: '/img/logo.png' %}
{% if page.image.filename %}
  {% assign filename = page.image.filename | append: '.jpg' %}
  {% assign image = site.url | append: '/img/share/' | append: filename %}
{% endif %}

{% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />

  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
  {% else %}
    <meta name="keywords" content="{{ site.keywords }}" />
  {% endif %}

  <link href="{{ site.google-plus }}" rel="author" />
  {% include social-media/twitter.html title=title desc=teaser img=image img_alt=image_alt %}
  {% include social-media/facebook.html %}
  {% include social-media/open-graph.html title=title desc=teaser img=image url=url %}
  {% include social-media/schema.html title=title desc=teaser img=image %}

  {% if page.url != "/" %}
    <link rel="canonical" href="{{ url }}">
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/atom.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% include favicons.html %}
  {% if site.build == "debug" %}

    <link rel="stylesheet" href="{{ "/css/blog.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}" />

  {% else %}

    <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}?v={{ site.time | date: '%Y%m%d-%H%M' }}">

  {% endif %}

{% if site.build != "debug" %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77127562-1', 'auto');
    ga('send', 'pageview');
  </script>
  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-K49KTW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K49KTW');
  </script>
{% endif %}
</head>

<!--
  http://www.iacquire.com/blog/18-meta-tags-every-webpage-should-have-in-2013
  http://secretsaucehq.com/mega-tags/#reference
  https://support.google.com/webmasters/answer/79812?hl=en
  https://developers.google.com/structured-data/testing-tool/
 -->
