<div class="post-preview">

  <h1>
    <a href="{{ post.url }}">{{ post.title | titlecase }}</a>
  </h1>
  <p class="meta">
    <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
    <span class="est-read-time">{% include estimated-reading-time.html %}</span>
  </p>
  <div class="content">

    <div class="thumbnail">
      <img src="/img/thumb/{{post.image.filename}}.jpg" alt="{{ post.image.alt }}" />
    </div>

    {{ post.content | truncatewords: 37 | strip_html }}
    <a href="{{ post.url }}">read more</a>
  </div>
</div>
