{% assign post = include.post %}

<div class="hero">
  <div class="heading">
    <h1 itemprop="name headline"><a href="{{ post.url }}">{{ post.title | titlecase }}</a></h1>
    <br/>
    {% include post-metadata.html snippet=include.snippet %}
  </div>
  <span id="image" role="img" aria-label="{{ post.image.alt }}">
    <span class="inner">
    </span>
  </span>
  <p class="photo-contribution">
    Photo
    {% if post.image.website %}
      courtesy of <a href="{{ post.image.url }}">{{ post.image.website }}</a>
    {% endif %}
    {% if post.photographer %}
      taken by <a href="{{ post.photographer.url }}">{{ post.photographer.name }}</a>
    {% endif %}
  </p>
</div>
<div class="container">
  <header class="show-on-smaller">
    <h1 itemprop="name headline"><a href="{{ post.url }}">{{ post.title | titlecase }}</a></h1>
    {% include post-metadata.html %}
  </header>
</div>
