{% if site.build == "debug" %}

  <script src="/js/jquery-1.12.3.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/script.js"></script>

{% else %}

  <script src="/js/scripts.js?v={{ site.time | date: '%Y%m%d-%H%M' }}"></script>

{% endif %}

<script>
  (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = '//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-572e2a88c76f9564';
    s.parentNode.insertBefore(g, s);
  }(document, 'script'));
</script>
