{% assign post = include.post %}

<div class="hero">
  <div class="teaser">Latest Post</div>
  <div class="heading">
    <h1 itemprop="name headline"><a itemprop="mainEntityOfPage" href="{{ post.url }}">{{ post.title | titlecase }}</a></h1>
    <br/>
    {% include posts/post-metadata.html snippet=include.snippet %}
  </div>
  <span id="image" role="img" aria-label="{{ post.image.alt }}">
    <span class="inner">
    </span>
  </span>
</div>
<p class="photo-attribution">
  {% if post.image.text %}
    {{ post.image.text }}
  {% else %}
    Photo
  {% endif %}
  {% if post.image.website %}
    courtesy of <a href="{{ post.image.url }}">{{ post.image.website }}</a>
  {% endif %}
  {% if post.photographer %}
    taken by <a href="{{ post.photographer.url }}">{{ post.photographer.name }}</a>
  {% endif %}
  {% if post.licence %}
    (<a href="{{ post.licence.url }}">{{ post.licence.name }}</a>)
  {% endif %}
</p>
<div class="container">
  <header class="show-on-smaller">
    <h1><a href="{{ post.url }}">{{ post.title | titlecase }}</a></h1>
    {% include posts/post-metadata.html %}
  </header>
</div>
