footer {

  &.site {
    margin-top: 50px;
    border-bottom: solid $border-width $accent;
    background-color: $darkest;
    font-size: $font-size-small - 0.5;
    line-height: $font-size-small;
  }

}
