---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="hero">
    <div class="heading">
      <h1 itemprop="name headline">{{ page.title }}</h1>
      <br/>
      <p class="meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} •
        {% assign post = page %}
        <span class="est-read-time">{% include estimated-reading-time.html %}</span>
      </p>
    </div>
    <span id="image" role="img" aria-label="{{ page.title }}">
      <span class="inner">
      </span>
    </span>
  </div>

  <div class="container">
    <header class="show-on-smaller">
      <h1 itemprop="name headline">{{ page.title }}</h1>
      <p class="meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} •
        {% assign post = page %}
        <span class="est-read-time">{% include estimated-reading-time.html %}</span>
      </p>
    </header>
    <div class="content" itemprop="articleBody">
      {{ content }}
    </div>
    <div id="disqus_thread"></div>
  </div>
</article>

<style type="text/css">
  {% assign identifier = {{page.title | remove: " -" | remove: "'" | replace: " ", "-" | downcase }} %}
  {% assign file_name = page.date | date: "%F" | append: "-" | append: identifier %}
  {% assign img = "/img/" | append: file_name %}

  .hero #image .inner {
    padding-top: {{ site.data.images.aspectRatio }}%;
  }

  {% assign width = 0 %}
  {% for resolution in site.data.images.resolutions %}

    {% if forloop.last != true %}

      @media only screen and (min-width: {{ width }}px) and (max-width: {{ resolution.width }}px) {
        .hero #image { background-image: url("{{ img }}-{{ resolution.width }}.jpg"); }
      }

      {% if resolution.2dppx %}
        @media only screen and (min-resolution: 2dppx) and (min-width: {{ width }}px) and (max-width: {{ resolution.width }}px) {
          .hero #image { background-image: url("{{ img }}-{{ resolution.width | times: 2 }}.jpg"); }
        }
      {% endif %}

      {% if resolution.3dppx %}
        @media only screen and (min-resolution: 3dppx) and (min-width: {{ width }}px) and (max-width: {{ resolution.width }}px) {
          .hero #image { background-image: url("{{ img }}-{{ resolution.width | times: 3 }}.jpg"); }
        }
      {% endif %}

      {% if resolution.4dppx %}
        @media only screen and (min-resolution: 4dppx) and (min-width: {{ width }}px) and (max-width: {{ resolution.width }}px) {
          .hero #image { background-image: url("{{ img }}-{{ resolution.width | times: 4 }}.jpg"); }
        }
      {% endif %}

      {% assign width = resolution.width + 1 %}

    {% else %}

      @media only screen and (min-width: {{ width }}px) {
        .hero #image { background-image: url("{{ img }}-{{ resolution.width }}.jpg"); }
      }

      .hero #image { max-width: {{resolution.width}}px; }

    {% endif %}

  {% endfor %}
</style>

<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}';
    this.page.identifier = '{{ identifier }}';
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//corporateprogrammer.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//corporateprogrammer.disqus.com/count.js" async></script>
